In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("/home/dineshkumardavanam/Downloads/Water supply.csv")

In [3]:
df

,ULB name,Source of water,Water Demand (MLD),Water Treatment facility (MLD),Utilisation of treatment facility,Storage Capacity (MLD),Protected water supply reservoirs,Total installed capacity of protected water supply (MGD),House service connections (No's),Public stand posts,...,Power bores (No's),Hand bores (No's),Water Connections (No's),Residential Connections,Commercial Connections,Metered Connections,Covered Population (%),Unserved population (%),No of Hours supply in a day,Cost Recovery of Maintenance
0,Adilabad,Sathanala River & Mavala Tank,0.00,0.00,0.00,7.20,7,92,12791,200,...,7,794,11998,11980,18,0,91.0,9.0,1,100
1,Andol-Jogipet,"Etigadda,Sathyasai,Vonappuram,Borewells",2.92,0.00,0.00,3.30,1,0,1375,2,...,110,4,1375,1230,145,0,80.0,5.0,1,495000
2,Armoor,surface and ground water,7.00,11.50,5.50,3.50,1,22,10358,254,...,192,56,10358,10358,0,0,98.2,1.8,6,0
3,Atchampet,Bore wells,3.00,0.60,4.00,0.50,0,1,3450,400,...,92,56,3450,3450,0,0,90.0,10.0,0,24
4,Badangpet,HMWS&SB BORE WELLS,14.25,0.00,0.00,7.00,0,0,14020,0,...,370,30,14020,14020,0,0,54.7,45.3,1,16824000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Vikarabad,Shivasagar Tank and HMWS,8.10,4.94,4.94,4.94,13,6,10138,0,...,74,275,10138,10130,8,0,85.0,15.0,1,0
68,Wanaparthy,Ramanpadu Balancing resorvior,12.00,8.50,0.00,0.00,0,0,8800,238,...,30,58,8820,8800,20,0,70.0,35.0,2,0
69,Warangal,NaN,0.00,0.00,0.00,0.00,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,0
70,Yellandu,"YELLANDULAPADU CHERUVU, KOTILINGALA BORES, 47 ...",4.72,4.50,4.50,4.50,5,1,5992,20,...,7,69,5992,5980,12,0,80.0,20.0,1,150
71,Zaheerabad,Singoor dam back canal river water at itikepal...,5.40,5.40,0.00,7.40,2,0,5324,325,...,165,0,5324,5324,0,0,92.0,8.0,45,16

In [17]:
subset=df[["ULB name","Water Demand (MLD)"]]

In [18]:
subset

         ULB name  Water Demand (MLD)
0        Adilabad                0.00
1   Andol-Jogipet                2.92
2          Armoor                7.00
3       Atchampet                3.00
4       Badangpet               14.25
..            ...                 ...
67      Vikarabad                8.10
68     Wanaparthy               12.00
69       Warangal                0.00
70       Yellandu                4.72
71     Zaheerabad                5.40

[72 rows x 2 columns]